
* {
  margin: 0;
  padding: 0;
}

#container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.product {
  background-color: pink;
  margin: 10px;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.category {
  font-size: 10px;
}

#test {
  position: sticky;
  top: 2%;
  margin-left: 85%;
  padding-top: 2%;
  justify-content: end;
  align-items: flex-end;
}
